<div class="row">
  <div class="col-sm-12">
    <button id="createTask" type="button" class="btn btn-default btn-block">Новая Задача</button>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="row">
  <div class="col-sm-4">
    <h2 class="text-center">Ожидание</h2>
    <div id="awaitingTasks" class="tasks-container"></div>
  </div>
  <div class="col-sm-4">
    <h2 class="text-center">В процессе</h2>
    <div id="inProgressTasks" class="tasks-container"></div>
  </div>
  <div class="col-sm-4">
    <h2 class="text-center">Завершено</h2>
    <div id="completedTasks" class="tasks-container"></div>
  </div>
</div>