<div class="task">
    <p>{{title}}</p>
    {{#isRegressive this}}
        <span class="glyphicon glyphicon-arrow-left"></span>
    {{/isRegressive}}
    <span class="glyphicon glyphicon-remove"></span>
    {{#isProgressive this}}
        <span class="glyphicon glyphicon-arrow-right"></span>
    {{/isProgressive}}
</div>